@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --font-audiowide: 'Audiowide', cursive;
    --font-the-bold-font: 'The Bold Font', 'Poppins', sans-serif;
    --color-lumastake-blue: #3B4EFC;
    --color-lumastake-navy: #262262;
    --color-lumastake-light-blue: #E0F2FF;
    --color-lumastake-lime: #D9FF00;
    --color-lumastake-dark: #101221;
}

[x-cloak] {
    display: none !important;
}

