@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --font-audiowide: 'Audiowide', cursive;
    --color-arbitex-green: #00ffa3;
    --color-arbitex-pink: #ff00d8;
    --color-arbitex-orange: #ff451c;
    --color-arbitex-dark: #101221;
    --color-arbitex-gray: #22253b;
    --color-arbitex-accent: #d9d9d9;
    --color-cabinet-green: #05C982;
    --color-cabinet-orange: #FF451C;
    --color-cabinet-red: #F70808;
    --color-cabinet-level-1: #FF451C;
    --color-cabinet-level-2: #05C982;
    --color-cabinet-level-3: #FF00D8;
    --color-cabinet-level-4: #02C9D8;
    --color-cabinet-level-5: #FF9D00;
    --color-cabinet-header-bg: #D9D9D9;
    --color-cabinet-card-border: #CCCCCC;
    --color-cabinet-table-row: #EEEEEE;
}
